* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

.list-circle {
    list-style-type: circle;
}

.list-square {
    list-style-type: square;
}

.list-upper-roman {
    list-style-type: upper-roman;
}

.list-lower-alpha {
    list-style-type: lower-alpha;
}

.list-image {
    list-style-image: url('list-type.png');
}

.list-outside {
    list-style-position: outside;
}

.list-inside {
    list-style-position: inside;
}

.list-none {
    list-style-type: none;
    margin: 0;
    padding: 0;
}