* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

p {
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    color: rgba(32, 32, 32, 1);
}

#caption {
    margin-left: 4px;
    font-size: 12px;
    font-weight: 400;
    font-style: italic;
    line-height: 14px;
    color: rgba(150, 150, 150, 1);
}

.text-bold {
    font-weight: bold;
}

p.text-bold {
    text-decoration: underline;
    color: rgba(150, 150, 150, 1);
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    line-height: auto;
    color: rgba(32, 32, 32, 1);
    text-align: center;
}