* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

.box-translate {
    transform: translate(50px, 100px);
}

.box-scale {
    transform: scale(1.5, 0.5);
}

.box-rotate {
    transform: rotate(45deg);
}

.box-skew {
    transform: skew(30deg, 10deg);
}

.box-combo {
    transform: translate(10px, -10px) rotate(30deg) scale(1.2);
}

.box-origin {
    transform-origin: 10% 50%;
}