* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

.image {
    width: 400px;
    height: 400px;
}

.image-fill {
    object-fit: fill;
}

.image-contain {
    object-fit: contain;
}

.image-cover {
    object-fit: cover;
}

.image-none {
    object-fit: none;
}

.image-scale-down {
    object-fit: scale-down;
}