* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

.block {
    display: inline-block;
    width: 200px;
    height: auto;
    padding: 10px;
    border: 1px dashed grey;
    border-radius: 5px;
}