* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

article {
    width: 500px;
    height: auto;
    margin: 20px;
    padding: 20px;
    border: 1px solid grey;
}