* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

a:visited {
    color: red;
}

a:hover {
    text-decoration: underline;
}

.container:first-child {
    border-top: 1px solid grey;
}

.container:last-child {
    border-bottom: 1px solid grey;
}

input:focus {
    border: 1px solid blue;
}