* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

.container {
    background-color: bisque;
}

.text-caption {
    color: grey;
}

.invalid-border {
    color: red;
}

.text-paragraph {
    color: rgba(32, 32, 32, 1);
}

.text-heading {
    color: #000;
}

.text-tooltip {
    color: hsla(0, 100%, 50%, 0.5);
}