* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

.container p {
    color: red;
}

.menu > li {
    display: inline-block;
}

h1 + p {
    font-weight: 500;
}

h2 ~ p {
    color: grey;
}