* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

body {
    background-color: azure;
}

.container {
    background-color: transparent;
}

.element {
    color: blue;
    border: 10px solid currentcolor;
}

.parent {
    color: black;
}

.child-element {
    background-color: inherit;
}