* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

.container {
    background-image: url('image.jpg');
}

.element {
    background: url('background.jpg') no-repeat center/cover fixed border-box padding-box;
}