* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

.image-mask {
    mask-image: linear-gradient(to right, black, transparent);
}

.clip-path {
    clip-path: circle(50% at 50% 50%);
}