* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* Fonts */
@font-face {
    font-family: 'OpenSans';
    src: url('fonts/OpenSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.open-sans {
    font-family: 'OpenSans', Arial, sans-serif;
}

.roboto {
    font-family: 'Roboto', 'Arial', sans-serif;
}